body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Roboto-Black',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin-left: 37.5%;
  margin-right: 37.5%;
  width: 25%;
  table-layout: fixed;
  text-align: center;
}

.title {
  font-size: xxx-large;
  text-align: center;
  font-family: serif;
  font-weight: bolder;
  color: #663399;
}

.title-green {
  font-size: xxx-large;
  text-align: center;
  font-family: serif;
  font-weight: bolder;
  color: #00d400;
}

.subtitle {
  font-size: large;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  color: white;

}

.subtitle-green {
  font-size: large;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  color: #00d400;
}

.github-link,
.steam-link,
.youtube-link,
.twitch-link {
  font-size: x-large;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
}

.github-link {
  color: #bec3c8;
}

.twitch-link {
  color: #9147ff;
}

.steam-link {
  color: #52a1c0;
}

.youtube-link {
  color: #e30000;
}

.link-green {
  font-size: x-large;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
  color: #00d400;
}
